html {
  cursor: default;
  height: 100%;
  -webkit-user-select: none;
}

body {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font: 10pt normal Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 4%;
}

a {
  outline: none;
}

.icon-col {
  padding: 1.25%;
}

.icon {
  display: block;
  border-radius: 10px;
  padding: 15%;
  text-decoration: none;
  -webkit-transition-duration: 150ms, 250ms;
  -webkit-transition-property: background, opacity;
  -webkit-transition-timing-function: linear;
  -webkit-user-drag: element;
  cursor: pointer;
}

.icon:hover, .icon:focus, .icon.hover {
  background: rgba(0, 0, 0, 0.35);
  text-decoration: none;
}

.icon > img {
  display: block;
  height: auto;
  margin: 0 auto;
  width: 75%;
}

.icon > span {
  color: #fff;
  display: block;
  line-height: 2em;
  margin: 0 -10px;
  overflow: hidden;
  padding: 0 10px;
  text-align: center;
  text-overflow: ellipsis;
  text-shadow: #333 0 0 10px, #333 0 0 10px;
  white-space: nowrap;
}

.light-bg .icon > span {
  color: #000;
  text-shadow: #fff 0 0 10px, #fff 0 0 10px,
      #fff 0 0 10px, #fff 0 0 10px, #fff 0 0 10px;
}

.icon.drag {
  border-radius: 13px;
  font-size: 1.3em;
  position: absolute;
  width: 13%;
}

#modal-icon {
  margin-right: 10px;
  width: 72px;
  height: 72px;
}

#context-menu {
  background: -webkit-linear-gradient(rgba(72, 72, 72, 0.9),rgba(0, 0, 0, 0.9));
  border-radius: 10px;
  color: #fff;
  display: none;
  list-style-type: none;
  margin: 0;
  max-width: 250px;
  padding: 10px 0;
  position: absolute;
}

.light-bg #context-menu {
  color: #000;
}

.light-bg #context-menu li.disabled {
  color: rgba(0, 0, 0, 0.25);
}

/* CSS arrow hack:
 * Hypotenuse border set to color, leg borders set to transparent. Creates a
 * right isoceles triangle.
 */
#context-menu > #arrow {
  height: 0;
  position: absolute;
  width: 0;
}

#context-menu > #arrow.top {
  border-bottom: 12px solid rgba(72, 72, 72, 0.9);
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  top: -12px;
}

#context-menu > #arrow.bottom {
  border-top: 12px solid rgba(0, 0, 0, 0.9);
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  bottom: -12px;
}

#context-menu > #arrow.left {
  border-bottom: 12px solid transparent;
  border-right: 12px solid rgba(59, 59, 59, 0.9);
  border-top: 12px solid transparent;
  left: -12px;
}

#context-menu > #arrow.right {
  border-bottom: 12px solid transparent;
  border-left: 12px solid rgba(59, 59, 59, 0.9);
  border-top: 12px solid transparent;
  right: -12px;
}
/*(end CSS arrow hack)*/

#context-menu li {
  margin: 0;
  white-space: nowrap;
}

#context-menu li:not(.disabled):hover > a,
#context-menu li:not(.disabled) > a:focus {
  background: rgba(255, 255, 255, 0.35);
}

#context-menu li.disabled {
  color: rgba(255, 255, 255, 0.25);
}

#context-menu li.disabled:hover > a {
  background: none;
}

#context-menu hr {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  border-width: 1px 0;
  height: 0;
  margin: 10px 0;
}

#context-menu a, #context-menu a:hover, #context-menu a:active {
  color: inherit;
  display: block;
  overflow: hidden;
  padding: 10px 16px;
  text-decoration: none;
  text-overflow: ellipsis;
}

footer {
  clear: both;
}
